<div class="todo-item" >
    <div class="todo-item-left">
      <mat-checkbox type="checkbox" [(ngModel)]="todo.completed" (change)="todoService.doneEdit(todo)" color="primary"> </mat-checkbox>
      <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }" (dblclick)="todoService.editTodo(todo)">{{ todo.title }}</div>
      
      
      <ng-template #editingTodo>
        <input matInput type="text" class="todo-item-edit" [(ngModel)]="todo.title" (blur)="todoService.doneEdit(todo)" (keyup.enter)="todoService.doneEdit(todo)" (keyup.esc)="todoService.cancelEdit(todo)"autofocus>
        <button *ngIf="todo.title" matSuffix mat-icon-button (click)="todoService.doneEdit(todo)" style="margin-right: 10px;" color="primary">
          <mat-icon>done_outline</mat-icon>
        </button>

      </ng-template>
    </div>
    <!-- <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
      &times;
    </div> -->
    <div class="item-tools">
      <button  mat-icon-button (click)="todoService.deleteTodo(todo.id)" class="tool" color="primary">
        <mat-icon>{{'delete'}}</mat-icon>
  
      </button>
    </div>
  </div>
