.flex-expand {
    flex: 1 1 auto;
  }

  .div-title {
    text-align:center;
    padding: 20px;
}


.form-item {
    padding: 15px;
    margin: 10px 10px 0px 10px;
    
}

.submit-button {
    padding: 25px;
    margin: 20px 30px 20px 30px;
}

.card-actions{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
}