<mat-toolbar color="primary">
  <span class="flex-expand"></span>
  <button mat-flat-button  (click)="authService.logOut()">Log out</button>
</mat-toolbar>
<img class="logo" alt="Todo Logo" src="assets/logo.png">

<mat-form-field style="width: 100%;">
  <mat-label>What needs to be done...</mat-label>
  <input matInput type="text" [(ngModel)]="todoTitle" class="todo-input" placeholder="Presss enter to add..." (keyup.enter)="addTodo()">
  <button *ngIf="todoTitle" matSuffix mat-icon-button (click)="addTodo()" style="margin-right: 10px;" color="primary">
    <mat-icon>done_outline</mat-icon>
  </button>
</mat-form-field>



  <div class="todo-item" 
  *ngFor="let todo of todosFiltered()"
  @fade>
    <div class="todo-item-left">
      <mat-checkbox type="checkbox" [(ngModel)]="todo.completed" (change)="doneEdit(todo)" color="primary"> </mat-checkbox>
      <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }" (dblclick)="editTodo(todo)">{{ todo.title }}</div>
      
      
      <ng-template #editingTodo>
        <input matInput type="text" class="todo-item-edit" [(ngModel)]="todo.title" (blur)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)"autofocus>
        <button *ngIf="todo.title" matSuffix mat-icon-button (click)="doneEdit(todo)" style="margin-right: 10px;" color="primary">
          <mat-icon>done_outline</mat-icon>
        </button>

      </ng-template>
    </div>
    <!-- <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
      &times;
    </div> -->
    <div class="item-tools">
      <button  mat-icon-button (click)="deleteTodo(todo.id)" class="tool" color="primary">
        <mat-icon>{{'delete'}}</mat-icon>
  
      </button>
    </div>
  </div>

<!-- <div class="extra-container">
  <div><label><input type="checkbox" (change)="checkAllTodos()"  [(ngModel)]="!anyRemainingModel"> Check All</label></div>
  <div>{{ remaining() }} items left</div>
</div> -->

<div class="extra-container">
  
  <mat-button-toggle-group appearance="legacy" [(ngModel)]="filter">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="active">Active</mat-button-toggle>
    <mat-button-toggle value="completed">Completed</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="item-tools">
    <button *ngIf="!translateClicked && todos.length != 0" mat-raised-button (click)="translate()" class="tool" color="primary" style="margin-right: 10px;">
      Translate
    </button>
    <button *ngIf="translateClicked" mat-raised-button (click)="undoTranslate()" class="tool" color="primary" style="margin-right: 10px;">
      Undo
    </button>
    <div *ngIf="atLeastOneCompleted()" style="margin-right: 10px;">
      <button mat-raised-button (click)="clearCompleted()" color="primary">Clear Completed</button>
    </div>
  </div>

</div>
